/* src/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 다크 모드 스타일 추가 */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

.dark {
  --color-bg: #1a202c;
  --color-text: #a0aec0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.sticky {
  position: sticky;
  top: 5rem;
}
